.sign-up {
    .container {
        padding-top: 100px;
        padding-bottom: 50px;
        width: 32%;

        form {
            font-size: 16px;
            font-weight: 400 !important;

            h1 {
                color: $gray-900;
            }


            .account-form {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "firstname lastname" "email email" "password password" "confirm confirm" "terms terms" "btn btn";
                gap: 20px;

                #firstname {
                    grid-area: firstname;
                }

                #lastname {
                    grid-area: lastname;
                }

                #email {
                    grid-area: email;
                }

                #password {
                    grid-area: password;
                }

                #confirm {
                    grid-area: confirm;
                }

                #terms {
                    grid-area: terms;
                }


                .input-group {
                    input {
                        padding: 10px;
                        font-size: 16px;
                        font-weight: 400 !important;
                    }
                }
            }



            .account-checkbox {
                padding-top: 15px;
                padding-bottom: 15px;

                label {
                    @include text-m;
                    color: $gray-700;
                }

                .checkbox-group {
                    gap: 10px;
                }
            }

            button {
                font-size: 16px;
                font-weight: 400 !important;
                width: 100%;
                grid-area: btn;
            }
        }
    }
}
