.sign-in {
    .container {
        padding-top: 100px;
        padding-bottom: 80px;
        width: 32%;

        form {
            font-size: 16px;
            font-weight: 400 !important;

            h1 {
                color: $gray-900;
            }


            .account-form {
                display: grid;
                grid-template-columns: 1fr;

                .input-group {
                    margin-top: 20px;

                    input {
                        padding: 10px;
                        font-size: 16px;
                        font-weight: 400 !important;
                    }
                }
            }



            .remember-me {
                padding-top: 15px;
                padding-bottom: 15px;

                label {
                    @include text-m;
                    color: $gray-700;
                }

                .checkbox-group {
                    gap: 10px;
                }
            }

            .error-message {
                margin-bottom: 10px;
                @include text-lg;
                font-weight: 500;
                color: $danger;
                text-align: center;
            }

            button {
                font-size: 16px;
                font-weight: 400 !important;
                width: 100%;
            }

            #forgot-pw {
                margin-top: 13px;
                text-decoration: none;
                text-align: center;
            }
        }
    }
}
