.taskmanager {
    .container{
        display: block;
        align-items: center;
        margin-bottom: 60px;

        img {
            width: 100%;

            @include lg {
                width: auto;
            }
        }

        @include lg {
            display: flex;
            justify-content: space-between;
        }

        .bulletlist-box {
            display: block;
            color: $gray-700;

            h2 {
                color: $gray-900;
                margin-bottom: 30px;
            }
        
            .bulletpoint {
                display: flex;
                align-items:baseline;
                gap: 10px;
                
                i {
                    color: $theme;
                }
            }

            .theme-btn {
                margin-top: 20px;
                width: 160px;
            }
        }
    }
}