<section id="DownloadApp" class="download-app">
    <div class="container">
        <img src="/images/screens.svg" alt="Task Manager app open in a smartphone">
        <div class="section-box">
            <h1>Download Our App for Any Devices:</h1>
            <div class="review-box">
                <div class="review-text">
                    <p class="store">App store</p>
                    <img src="/images/icons/rating.svg" alt="five stars">
                    <h4>Editor's Choice</h4>
                    <p class="reviews">rating 4.7, 187K+ reviews</p>
                </div>
                <a href="https://www.apple.com/se/app-store/"><img src="/images/download/appstore.svg" alt="Download on the App Store"></a>
            </div>
            <div class="review-box">
                <div class="review-text">
                    <p class="store">Google Play</p>
                    <img src="/images/icons/rating.svg" alt="five stars">
                    <h4>App of the Day</h4>
                    <p class="reviews">rating 4.8, 30K+ reviews</p>
                </div>
                <a href="https://play.google.com/store"><img src="/images/download/googleplay.svg" alt="Get it on Google Play"></a>
            </div>
        </div>
    </div>
</section>