<section id="Taskmanager" class="taskmanager">
    <div class="container">
        <img src="/images/task-manager.svg" alt="Task Manager">
        <div class="bulletlist-box">
            <h2>Manage Your Work</h2>
            <div class="bulletpoint">
                <i class="fa-regular fa-circle-check"></i>
                <p>Powerful project management</p>
            </div>
            <div class="bulletpoint">
                <i class="fa-regular fa-circle-check"></i>
                <p>Transparent work management</p>
            </div>
            <div class="bulletpoint">
                <i class="fa-regular fa-circle-check"></i>
                <p>Manage work & focus on the most important tasks</p>
            </div>
            <div class="bulletpoint">
                <i class="fa-regular fa-circle-check"></i>
                <p>Track your progress with interactive charts</p>
            </div>
            <div class="bulletpoint">
                <i class="fa-regular fa-circle-check"></i>
                <p>Easiest way to track time spent on tasks</p>
            </div>

            <a class="theme-btn" href="/">Learn more <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</section>